* {
  /*box-sizing: inherit;*/
}

*:before, *:after {
  /*box-sizing: inherit;*/
}

* {
  margin: 0;
  padding: 0;
}

* {
  /*box-sizing: inherit;*/
}

*:before, *:after {
  /*box-sizing: inherit;*/
}

.img-fluid {
  /*border: .7em solid #ffffff;*/
}

* {
  margin: 0;
  padding: 0;
}

img {
}

img {
  border-radius: 5px;
}

img {
  border-radius: 5px;
}

#galeria {
}

